<footer class="horizontal-align">
    <div id="footer-box">
        All Rights Reserved
    </div>
    <div>
        <nav id="footer-nav">
            <ul class="horizontal-align">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>


       