/* Common Classes */
.horizontal-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* header */
#page-header{
    background-color:rgb(35,134,246) ;
    height: 3rem;
    width: 100%;
    color: white;
    font-family: sans-serif;
    #header-heading{
        font-weight: bolder;
        padding-left: 0.4rem;
        
    }
    #header-list{
        padding: 0;
        margin: 0;
        
        li{
            list-style: none;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            a{
                text-decoration: none;
                color: white;
                font-size: 1.1rem;
                font-weight: bold;

                &:hover{
                    color: rebeccapurple;
                    border-bottom: 1px solid rebeccapurple;
                    transition: all 0.5s;
                }
            }
        }
    }
}