body{
    background-color: lightblue;
}
main{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    img{
        padding-bottom: 0.5rem;
    }
    #user-details{
        width: 70%;
    }
    #friends-list{
        border-left: 1px solid whitesmoke;
        width: 25%;
        padding: 1rem;
    }
}